// Import mixins from "core" module
@import '../../../core/common/css/mixins';

/////////////////////////////////////////////////////////////////////////////////////////
/* THEMES: RED */

$color1: #fff;
$color2: #000730;
$color3: #000942;
$color4: rgba(255,255,255,.17);

body.cat {
    &__theme {
        &--blue {

            // "menu-left" module styles

            .cat__menu-left__logo {
                background: lighten($color3, 7%);
            }

            .cat__menu-left__lock {
                background: lighten($color3, 7%);
            }

            .cat__menu-left__pin-button {
                opacity: .7;

                &:hover {
                    opacity: 1;
                }
            }

            .cat__menu-left__pin-button div {
                background: #fff;
            }

            .cat__menu-left__pin-button div:before, .cat__menu-left__pin-button div:after {
                background: #fff;
            }

            .cat__menu-left {
                background: $color2;
            }

            .cat__menu-left__item > a {
                color: $color1;
            }

            .cat__menu-left__divider {
                background: $color4;
            }

            .cat__menu-left__icon {
                color: $color1;
            }

            .cat__menu-left__submenu.cat__menu-left__item > a::after {
                border-color: transparent $color4 transparent transparent;
            }

            .cat__menu-left__item--active > a,
            .cat__menu-left__item:hover > a,
            .cat__menu-left__item:active > a,
            .cat__menu-left__item:focus > a {
                background: lighten($color3, 7%);
            }

            .cat__menu-left__submenu--toggled.cat__menu-left__item {
                color: $color1;

                > a {
                    background: lighten($color3, 7%);
                    color: $white;
                    .cat__menu-left__icon {
                        color: $white;
                    }
                }
            }

            .cat__menu-left__submenu > .cat__menu-left__list {
                background: lighten($color3, 3%);
            }

            // compact & vertical layout
            &.cat__config--vertical.cat__config--compact {
                @media (min-width: 768px) {
                    .cat__menu-left__item > a:before {
                        background: lighten($color2, 10%);
                    }
                }
            }

            // horizontal layout
            &.cat__config--horizontal {

                @media (min-width: 768px) {
                    .cat__menu-left__list--root > li.cat__menu-left__item {
                        > a {
                            border-left-color: darken($color2,10%);
                        }
                        &:hover > a {
                            background: $color3;
                        }
                    }
                }
            }

        }
    }
}