<!-- START: apps/messaging -->
<section class="card cat__core__card-with-sidebar cat__core__card-with-sidebar--large">
    <div class="cat__core__card-sidebar">
        <div class="cat__apps__messaging__header">
            <input class="form-control cat__apps__messaging__header__input" placeholder="Search..." />
            <i class="icmn-search"></i>
            <button></button>
        </div>
        <div class="cat__apps__messaging__list">
            <div class="cat__apps__messaging__tab">
                <div class="cat__apps__messaging__tab__avatar">
                    <a class="cat__core__avatar cat__core__avatar--50" href="javascript:void(0);">
                        <img src="../../modules/dummy-assets/common/img/avatars/1.jpg" alt="Alternative text to the image">
                    </a>
                </div>
                <div class="cat__apps__messaging__tab__content">
                    <small class="cat__apps__messaging__tab__time">8:34PM</small>
                    <div class="cat__apps__messaging__tab__name">Chris Obama</div>
                    <div class="cat__apps__messaging__tab__text">Hello! Where you are now? I want to talk. Hello! Where you are now? I want to talk</div>
                </div>
            </div>
            <div class="cat__apps__messaging__tab cat__apps__messaging__tab--selected">
                <div class="cat__apps__messaging__tab__avatar">
                    <a class="cat__core__avatar cat__core__avatar--50" href="javascript:void(0);">
                        <img src="../../modules/dummy-assets/common/img/avatars/2.jpg" alt="Alternative text to the image">
                    </a>
                </div>
                <div class="cat__apps__messaging__tab__content">
                    <small class="cat__apps__messaging__tab__time">8:34PM</small>
                    <div class="cat__apps__messaging__tab__name">David Scott</div>
                    <div class="cat__apps__messaging__tab__text">Hello! Where you are now? I want to talk. Hello! Where you are now? I want to talk</div>
                </div>
            </div>
            <div class="cat__apps__messaging__tab">
                <div class="cat__apps__messaging__tab__avatar">
                    <a class="cat__core__avatar cat__core__avatar--50" href="javascript:void(0);">
                        <img src="../../modules/dummy-assets/common/img/avatars/5.jpg" alt="Alternative text to the image">
                    </a>
                </div>
                <div class="cat__apps__messaging__tab__content">
                    <small class="cat__apps__messaging__tab__time">8:34PM</small>
                    <div class="cat__apps__messaging__tab__name">Barak Obama</div>
                    <div class="cat__apps__messaging__tab__text">Hello! Where you are now? I want to talk. Hello! Where you are now? I want to talk</div>
                </div>
            </div>
            <div class="cat__apps__messaging__tab">
                <div class="cat__apps__messaging__tab__avatar">
                    <a class="cat__core__avatar cat__core__avatar--50" href="javascript:void(0);">
                        <img src="../../modules/dummy-assets/common/img/avatars/4.jpg" alt="Alternative text to the image">
                    </a>
                </div>
                <div class="cat__apps__messaging__tab__content">
                    <small class="cat__apps__messaging__tab__time">8:34PM</small>
                    <div class="cat__apps__messaging__tab__name">Nick Cave</div>
                    <div class="cat__apps__messaging__tab__text">Hello! Where you are now? I want to talk. Hello! Where you are now? I want to talk</div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-header">
        <div class="pull-right">
            <div class="dropdown mt-2 d-inline-block">
                <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="icmn-database mr-2"></i>
                    <span class="hidden-lg-down">Actions</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
                    <div class="dropdown-header">Active</div>
                    <a class="dropdown-item" href="javascript:void(0)">Project Management</a>
                    <a class="dropdown-item" href="javascript:void(0)">User Inetrface Development</a>
                    <a class="dropdown-item" href="javascript:void(0)">Documentation</a>
                    <div class="dropdown-header">Inactive</div>
                    <a class="dropdown-item" href="javascript:void(0)">Marketing</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-cog"></i> Settings</a>
                </ul>
            </div>
        </div>
        <h4 class="mt-1 mb-1 text-black">
            <strong>Messaging App</strong>
        </h4>
    </div>
    <div class="card-body">
        <div class="cat__apps__messaging">
            <div class="height-700 custom-scroll cat__core__scrollable">
                <div class="cat__apps__chat-block">
                    <div class="cat__apps__chat-block__item clearfix">
                        <div class="cat__apps__chat-block__avatar">
                            <a class="cat__core__avatar cat__core__avatar--50" href="javascript:void(0);">
                                <img src="../../modules/dummy-assets/common/img/avatars/3.jpg" alt="Alternative text to the image" />
                            </a>
                        </div>
                        <div class="cat__apps__chat-block__content">
                            <strong>David Scott</strong>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        </div>
                    </div>
                    <div class="cat__apps__chat-block__item clearfix">
                        <div class="cat__apps__chat-block__avatar">
                            <a class="cat__core__avatar cat__core__avatar--50" href="javascript:void(0);">
                                <img src="../../modules/dummy-assets/common/img/avatars/3.jpg" alt="Alternative text to the image" />
                            </a>
                        </div>
                        <div class="cat__apps__chat-block__content">
                            <strong>Chris Smith</strong>
                            <p>Lorem Ipsum is simply dummy text of the printing</p>
                            <img class="cat__apps__profile__wall__message-img" src="../../modules/dummy-assets/common/img/photos/4.jpeg" />
                            <img class="cat__apps__profile__wall__message-img" src="../../modules/dummy-assets/common/img/photos/3.jpeg" />
                            <img class="cat__apps__profile__wall__message-img" src="../../modules/dummy-assets/common/img/photos/2.jpeg" />
                        </div>
                    </div>
                    <div class="cat__apps__chat-block__item clearfix">
                        <div class="cat__apps__chat-block__avatar">
                            <a class="cat__core__avatar cat__core__avatar--50" href="javascript:void(0);">
                                <img src="../../modules/dummy-assets/common/img/avatars/4.jpg" alt="Alternative text to the image" />
                            </a>
                        </div>
                        <div class="cat__apps__chat-block__content">
                            <strong>Donald Trump</strong>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy</p>
                            <div class="cat__apps__profile__wall__media-object">
                                <div class="mediatec-cleanvideoplayer">
                                    <ul data-theme="default">
                                        <li data-title="Blond Woman In White Bikini Sitting On Grass" data-type="m4v" data-url="http://cleanhtmlplayer.com/cdn/video/media/1.mp4" data-poster="http://cleanhtmlplayer.com/cdn/video/media/1.jpg" data-free="true"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cat__apps__chat-block__item clearfix">
                        <div class="cat__apps__chat-block__avatar">
                            <a class="cat__core__avatar cat__core__avatar--50" href="javascript:void(0);">
                                <img src="../../modules/dummy-assets/common/img/avatars/3.jpg" alt="Alternative text to the image" />
                            </a>
                        </div>
                        <div class="cat__apps__chat-block__content">
                            <strong>David Scott</strong>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                            <div class="cat__apps__profile__wall__media-object">
                                <div class="mediatec-cleanaudioplayer">
                                    <ul data-theme="default">
                                        <li data-title="Swinskog — Roads! (Original Mix)" data-artist="Swinskog" data-type="mp3" data-url="http://cleanhtmlplayer.com/cdn/audio/media/Swinskog - Roads! (Original Mix).mp3" data-free="true"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cat__apps__chat-block__item cat__apps__chat-block__item--right clearfix">
                        <div class="cat__apps__chat-block__avatar">
                            <a class="cat__core__avatar cat__core__avatar--50" href="javascript:void(0);">
                                <img src="../../modules/dummy-assets/common/img/avatars/4.jpg" alt="Alternative text to the image" />
                            </a>
                        </div>
                        <div class="cat__apps__chat-block__content">
                            <strong>Donald Trump</strong>
                            <p>Ok. Thanks!</p>
                        </div>
                    </div>
                    <div class="cat__apps__chat-block__item cat__apps__chat-block__item--right clearfix">
                        <div class="cat__apps__chat-block__avatar">
                            <a class="cat__core__avatar cat__core__avatar--50" href="javascript:void(0);">
                                <img src="../../modules/dummy-assets/common/img/avatars/4.jpg" alt="Alternative text to the image" />
                            </a>
                        </div>
                        <div class="cat__apps__chat-block__content">
                            <strong>Donald Trump</strong>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy</p>
                        </div>
                    </div>
                    <div class="cat__apps__chat-block__item clearfix">
                        <div class="cat__apps__chat-block__avatar">
                            <a class="cat__core__avatar cat__core__avatar--50" href="javascript:void(0);">
                                <img src="../../modules/dummy-assets/common/img/avatars/3.jpg" alt="Alternative text to the image" />
                            </a>
                        </div>
                        <div class="cat__apps__chat-block__content">
                            <strong>David Scott</strong>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        </div>
                    </div>
                    <div class="cat__apps__chat-block__item cat__apps__chat-block__item--right clearfix">
                        <div class="cat__apps__chat-block__avatar">
                            <a class="cat__core__avatar cat__core__avatar--50" href="javascript:void(0);">
                                <img src="../../modules/dummy-assets/common/img/avatars/4.jpg" alt="Alternative text to the image" />
                            </a>
                        </div>
                        <div class="cat__apps__chat-block__content">
                            <strong>Donald Trump</strong>
                            <p>Ok. Thanks!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mt-4 mb-0">
                <textarea class="form-control adjustable-textarea" placeholder="Type and press enter"></textarea>
                <div class="mt-3">
                    <button class="btn btn-primary width-200">
                        <i class="fa fa-send mr-2"></i>
                        Send
                    </button>
                    <button class="btn btn-link">
                        Attach File
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: apps/messaging -->

<!-- START: page scripts -->
<script>
    $(function() {

        ///////////////////////////////////////////////////
        // SIDEBAR CURRENT STATE
        $('.cat__apps__messaging__tab').on('click', function(){
            $('.cat__apps__messaging__tab').removeClass('cat__apps__messaging__tab--selected');
            $(this).addClass('cat__apps__messaging__tab--selected');
        });

        ///////////////////////////////////////////////////////////
        // CUSTOM SCROLL
        if (!(/Mobi/.test(navigator.userAgent)) && jQuery().jScrollPane) {
            $('.custom-scroll').each(function() {
                $(this).jScrollPane({
                    autoReinitialise: true,
                    autoReinitialiseDelay: 100
                });
                var api = $(this).data('jsp'),
                        throttleTimeout;
                $(window).bind('resize', function() {
                    if (!throttleTimeout) {
                        throttleTimeout = setTimeout(function() {
                            api.reinitialise();
                            throttleTimeout = null;
                        }, 50);
                    }
                });
            });
        }

        ///////////////////////////////////////////////////////////
        // ADJUSTABLE TEXTAREA
        autosize($('.adjustable-textarea'));

    });
</script>
<!-- END: Page Scripts -->
